<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Index</title>
</head>
<body>
    <h1>Project Endpoints</h1>
    <ul>
        <li><a href="/names/">Get Names</a> - Retrieve unique first names from customers.</li>
        <li><a href="/customers/">Get Customers</a> - Retrieve customers with optional filtering by it fields at query params.</li>
        <li><a href="/tracks/count/">Get Track Count</a> - Retrieve the count of tracks.</li>
        <li><a href="/tracks/duration/">Get Track Durations</a> - Retrieve track names and durations.</li>
    </ul>
</body>
</html>